In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import pandas as pd
os.chdir("..")

In [3]:
from recoexplainer.config import cfg
from recoexplainer.data_reader.data_reader import DataReader
from recoexplainer.models.emf_model import EMFModel

from recoexplainer.recommender import RankPredictionsRecommender

In [4]:
data = DataReader(**cfg.ml100k)
data.make_consecutive_ids_in_dataset()

In [5]:
emf = EMFModel(**cfg.model.emf)

In [6]:
emf.fit(data)

HBox(children=(HTML(value=''), FloatProgress(value=0.0), HTML(value='')))

True

In [7]:
rec = RankPredictionsRecommender(data, emf)

In [8]:
rec = rec.recommend_all()

HBox(children=(HTML(value='Recommending for users: '), FloatProgress(value=0.0, max=943.0), HTML(value='')))

In [9]:
rec

      userId  itemId  rank
286      0.0   325.0   1.0
830      0.0   912.0   2.0
409      0.0   462.0   3.0
810      0.0   889.0   4.0
954      0.0  1039.0   5.0
...      ...     ...   ...
20     942.0    22.0   6.0
78     942.0    84.0   7.0
687    942.0   706.0   8.0
1088   942.0  1110.0   9.0
1240   942.0  1262.0  10.0

[9430 rows x 3 columns]

In [10]:
from recoexplainer.explain import EMFExplainer

In [11]:
explanations = EMFExplainer(emf, rec, data)

In [12]:
res = explanations.explain_recommendations()

HBox(children=(HTML(value='Computing explanations: '), FloatProgress(value=0.0, max=9430.0), HTML(value='')))

In [13]:
res

      userId  itemId  rank              explanations
286      0.0   325.0   1.0              {3: 1, 4: 2}
830      0.0   912.0   2.0                        {}
409      0.0   462.0   3.0              {4: 2, 5: 1}
810      0.0   889.0   4.0              {3: 1, 4: 2}
954      0.0  1039.0   5.0              {2: 2, 4: 1}
...      ...     ...   ...                       ...
20     942.0    22.0   6.0  {2: 2, 3: 2, 4: 1, 5: 1}
78     942.0    84.0   7.0                        {}
687    942.0   706.0   8.0                        {}
1088   942.0  1110.0   9.0                        {}
1240   942.0  1262.0  10.0                        {}

[9430 rows x 4 columns]

In [19]:
sum(res.explanations.apply(lambda x: len(x) > 0))

2605